#asistantdiv {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 20px;
  background-color: rgb(65, 63, 63);
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  
}
#userdiv {
  background-color: rgb(197, 193, 193);
  color: black;
  display: flex;
  padding-left: 10px;

  align-items: center;
  justify-content: baseline;
  gap: 20px;
  border-radius: 10px;
}
#logosame {
  font-size: medium;
  width: 30px;
  height: 30px;
}
