#forgot{
    width: 100vw;
    background: rgb(54, 53, 53);
    color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#forgotform{
    width: 400px;
    background: rgb(72, 69, 69);
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid silver;
}